@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    font-family: "Figtree", sans-serif;
    box-sizing: border-box;

    @apply bg-gradient-to-br from-blue-50 to-indigo-50;
  }
}

/* Smooth transition for the analytics container. */
.analytics-root {
  transition: background-color 1s linear, border-color 1s linear, color 1s linear;
}

.analytics-root {
  @apply rounded-xl;
}